<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key></key>
	<string></string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>MKDirectionsRequest</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.maps.directionsrequest</string>
			</array>
		</dict>
	</array>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>CFBundleIdentifier</key>
	<string>AndresenSoftware.${PRODUCT_NAME:rfc1034identifier}</string>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>CFBundleDisplayName</key>
	<string>${PRODUCT_NAME}</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>MKDirectionsApplicationSupportedModes</key>
	<array>
		<string>MKDirectionsModeBike</string>
		<string>MKDirectionsModeBus</string>
		<string>MKDirectionsModeCar</string>
		<string>MKDirectionsModeFerry</string>
		<string>MKDirectionsModeOther</string>
		<string>MKDirectionsModePedestrian</string>
		<string>MKDirectionsModePlane</string>
		<string>MKDirectionsModeStreetCar</string>
		<string>MKDirectionsModeSubway</string>
		<string>MKDirectionsModeTaxi</string>
		<string>MKDirectionsModeTrain</string>
	</array>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Show Your Location</string>
	<key>NSLocationUsageDescription</key>
	<string>Used For Points of Interest</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Used for adding photos to points of interest</string>
	<key>NSCameraUsageDescription</key>
	<string>Taking Photos!</string>
</dict>
</plist>
